
body {
    background: linear-gradient(-100deg, white 50%, red 50%); /* TODO: oppure -120deg? oppure usare altri gradi? ; invertire il rosso ed il bianco? */

    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ======================== INIZIO NAVBAR ======================== */

.logo-img {
    width: 48px;
    height: 48px;
}

.navbar {
    padding: .999rem;
}

.navbar li {
    padding-right: 1.2em;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
}

.carousel-caption h1 {
    font-size: 555%; /* TODO: prima era 333 */
    text-transform: capitalize;
    text-shadow: 3px 3px 9px rgb(0, 0, 0);
}

.carousel-caption h3 {
    font-size: 333%; /* TODO: prima era 222 */
    font-weight: 333;
    text-shadow: 1px 1px 9px rgb(0, 0, 0);
    text-transform: lowercase;
}

/* ======================== FINE NAVBAR ======================== */

/* ======================== INIZIO FOOTER ======================== */

.hr {
    width: 125px;
    height: 125px;
}

.page-footer {
    color: white;
}

.footer-copyright {
    background-color: black;
}

/* ======================== FINE FOOTER ======================== */