body {
    /* TODO: font-family */
    background-color: rgb(33, 33, 33); /* TODO: change color */
    width: 100%;
    height: 100%;
    color: rgb(33, 33, 33);
}

/* ======================== INIZIO NAVBAR ======================== */

.logo-img {
    width: 48px;
    height: 48px;
}

.navbar {
    padding: 15.984px;
}

.navbar li {
    padding-right: 19.2px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
}

.carousel-caption h1 {
    font-size: 555%; /* TODO: prima era 333 */
    text-transform: capitalize;
    text-shadow: 3px 3px 9px rgb(0, 0, 0);
}

.carousel-caption h3 {
    font-size: 333%; /* TODO: prima era 222 */
    font-weight: 333;
    text-shadow: 1px 1px 9px rgb(0, 0, 0);
    text-transform: lowercase;
}

/* ======================== FINE NAVBAR ======================== */

/* ======================== INIZIO PRESENTAZIONE ======================== */

.section-presentazione{
    background-color: rgb(33, 33, 33); /* TODO: cambiare tipo di rosso o mettere bianco */
    color: white; /* TODO: RGB(33, 33, 33) OPPURE WHITE */
}

.presentazione {
    width: 77%;
    margin: 0 auto;
    padding: top 48px;
}

.presentazione hr {
    border-top: 2px solid rgb(34, 34, 34);
    width: 88%;
    margin-top: 5.328px;
    margin-bottom: 15.984px;
}

/* ======================== FINE PRESENTAZIONE ======================== */

/* ======================== INIZIO ABOUT SECTION ======================== */

.about {
    background-color: #e11c11; /* TODO: oppure bianco */
}

.about h2 {
    color: white; /* TODO: oppure rgb(33, 33, 33) */
}

.about p {
    color: white; /* TODO: oppure rgb(33, 33, 33) */
}

.about-section .card .img {
    border-radius: 10.656px;
}

.about-food {
    padding-top: 53.28px;
}

.about-food h2{
    color: white;
}

.about-food p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-food {
    font-size: 14.4px;
    color: white;
    line-height: 33px;
    position: relative;
    margin-left: 99px;
}

.about-food li {
    font-size: large;
}

/* ======================== FINE ABOUT SECTION ======================== */

/* ======================== INIZIO RECENSIONI ======================== */

.jumbotron p {
    color: white;
}

.just-content-start img {
    width: 80px;
    height: 80px;
    border-radius: 75%;
}

.card {
    background-color: rgb(33, 33, 33);
}

.review p {
    color: white;
}

.card-body p {
    color: white;
}

.review .fa-star, .fa-star-half-alt {
    color: #ffbf00;
}

.review .fa-quote-left {
    font-size: 48px;
}

/* ======================== FINE RECENSIONI ======================== */

/* ======================== CARDS PANINI ======================== */

/* TODO: allinearle sulla sinistra (una card affianco all'altra) */
/* TODO: cambiare colore pulsanti */

/*.food {*/
    /* background-color: red; */
/*}*/

.food h2 {
    color: white;
}

.food p {
    color: white;
}

.food .card{
    border: none;
    background-color: transparent;
    border-radius: 15.984px;
}

.food .card img {
    border-radius: 15.984px;
    object-fit: cover;
}

.food .card p {
    display: block;
    font-size: 19.552px;
    font-weight: 777;
    color: white;
    padding-bottom: 15.984px;
    border-bottom: 1.0656px solid white;
}

.food .card .prezzo del {
    color: red;
    margin-left: 8.88px;
}

.food .card .prezzo {
    color: green;
}

/* ======================== CARDS PANINI FINE ======================== */

/* ======================== INIZIO MAPPA ======================== */

/* TODO: settare il paragrafo next to the map. */

.map h2{
    text-align: center;
}

.p-map {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* TODO: scegliere una font-family */
    font-size: medium;
}

/* ======================== FINE MAPPA ======================== */

/* ======================== INIZIO FOOTER ======================== */

.hr {
    width: 125px;
    height: 125px;
}

.page-footer {
    color: white;
}

.footer-copyright {
    background-color: black;
}

/* ======================== FINE FOOTER ======================== */



/* ======================== INIZIO ======================== */

/* ======================== FINE ======================== */