.page-content{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(0, 0, 0), #172036);  /* #190d0a */
}

.login{
    background-color: rgb(252, 252, 252, 0.09); /* TODO: modify color */
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.666);
    border-radius: 21px;
    padding: 9px 9%;
}

.logo-section{
    padding: 21px 33%; /* TODO: modify padding and margin */
    margin-top: 66px;
}

.logo{
    width: 100%;
    height: auto;
}

.login-title{
    text-align: center;
    color: #f3360c;
}

.login-type {
    text-align: center;
    color: #fa1505;
}

.hr-separator{
    width: 100%;
    color: white;
}

.email-username-input{
    background-color: rgb(0, 0, 0, 0.333);
    height: 45px;
    border: none;
    color: #fa1505;
    box-shadow: none;

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

.email-username-input::-webkit-input-placeholder {
    position: relative;
    right: 55px;
}

.img-email {
    width: 24px;
    height: 24px;

    filter: invert();

    position: relative;
    bottom: 36px;
    left: 12px;
}

.password-input{
    background-color: rgb(0, 0, 0, 0.333);
    height: 45px;
    border: none;
    color: #fa1505;
    box-shadow: none;

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

.password-input::-webkit-input-placeholder {
    position: relative;
    right: 81px;
}

.img-password {
    width: 24px;
    height: 24px;

    filter: invert();

    position: relative;
    bottom: 36px;
    left: 12px;
}

.email-username-input:focus {
    color: #fa1505;
    background: rgb(0, 0, 0, 0.444);
    border: 1px solid #f3360c; /* #f3360c  #eb5214 */
}

.password-input:focus {
    color: #fa1505;
    background: rgb(0, 0, 0, 0.444);
    border: 1px solid #f3360c;
}

.btn-login{
    background-color: #f3360c;
    height: 45px;
    width: 100%;
    font-size: 24px;
    box-shadow: none;
}

.btn-login:hover{
    background: rgb(0, 0, 0, 0.333); /* TODO: modify color */
    color: #f3360c;
}

.forgot-password-link{
    text-align: center; /* TODO: fix align */
    color: #f3360c;
}

.forgot-password-link:hover{
    color: #be2e20; /* TODO: cambiare colore? */
}

.signup-link{
    text-align: center; /* TODO: fix align */
    color: #f3360c;
}

.signup-link:hover{
    color: #be2e20; /* TODO: cambiare colore? */
}

.img-theme {
    background-color: white;
    color: black;
    box-shadow: none;

    position: absolute;
    top: 10px;
    right: 10px;

    height: 42px;
    width: 42px;
}

/* TODO: fix issue with positioning when typing password */
.password-visibility {
    width: 24px;
    height: 24px;

    opacity: 0.7;
    /*filter: invert(); TODO: remove */

    color: #f3360c;
    filter: opacity(0.5);

    float: right;

    position: relative; 
    bottom: 29px;
    right: 12px;

    overflow: auto;
    max-height: 100%;

    cursor: pointer;

}