body > div:nth-of-type(1) { /* prima era .page-content */
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(234, 234, 234), white);
}

body > div > div > div > div { /* prima era .login; qui sarebbe nth-of-type(4) ma non mi andava */
    background-color: white;
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.333);
    border-radius: 21px;
    padding: 9px 9%;
}

body > div > div > div > div > div{ /* Qui era .logo-section, ho provato con nth-of-type(5) ma non mi andava */
    padding: 21px 33%; 
    margin-top: 66px;
}

body > div > div > div > div > div > img { /* Qui era .logo; nth-of-type(5) > img */
    width: 100%;
    height: auto;
}

body h3 { /* prima era .login-title */
    text-align: center;
    color: red;
}

hr{ /* prima era .hr-separator */
    width: 100%;
    color: #212121;
}

body form > div:nth-of-type(1) > input{ /* prima era .email-username-input */
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222);
    box-shadow: none;

    text-align: center; 
}

body form > div:nth-of-type(1) > input:focus {
    color: #fa1505;
    border: 1px solid red;
}

body form > div:nth-of-type(1) > img { /* prima era .img-email */
    width: 24px;
    height: 24px;

    position: relative;
    bottom: 36px;
    left: 12px;
}

body form > div:nth-of-type(2) > input{ /* .password-input */
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222);
    color: #fa1505; 

    text-align: center; 
}

body form > div:nth-of-type(2) > input:focus {
    color: #fa1505; 
    border: 1px solid red;
}

body form > div:nth-of-type(2) > img { /* .img-password */
    width: 24px;
    height: 24px;

    position: relative;
    bottom: 36px;
    left: 12px;
}

body form > input:nth-of-type(1){ /* .btn-login */
    background-color: #fa1505;
    color: white;
    height: 45px;
    width: 100%;
    font-size: 24px;
    box-shadow: none;
}

body form > input:nth-of-type(1):hover{
    background: black; 
    color: white;
}

body a:nth-of-type(2){ /* .forgot-password-link */
    text-align: center; 
    color: #359eca;
}

body a:nth-of-type(2):hover{
    color: #fa1505;
}

body a:nth-of-type(1){ /* .signup-link */
    text-align: center; 
    color: #359eca;
}

body a:nth-of-type(1):hover{
    color: #fa1505;
}

 body > input:nth-of-type(1){ /* .img-theme */
    background-color: rgb(53, 53, 53);
    color: white;
    box-shadow: none;

    position: absolute;
    top: 10px;
    right: 10px;

    height: 42px;
    width: 42px;
}


 body form > div:nth-of-type(2) > i{ /* .password-visibility */
    width: 24px;
    height: 24px;

    opacity: 0.7;

    float: right;

    position: relative; 
    bottom: 29px;
    right: 12px;

    color: #fa1505;
    filter: opacity(0.5);

    overflow: auto;
    max-height: 100%;

    cursor: pointer;

}