.page-content{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(234, 234, 234), white); /* TODO: modify color */
}

.signup{
    background-color: white; /* TODO: modify color */
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.333);
    border-radius: 21px;
    padding: 9px 9%;
}

.logo-section{
    padding: 21px 33%; /* TODO: modify padding and margin */
    margin-top: 66px;
}

.logo{
    width: 100%;
    height: auto;
}

.signup-title{
    text-align: center;
    color: red;
}

.signup-type {
    text-align: center;
}

.hr-separator{
    width: 100%;
    color: #212121;
}

.username-input{
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */
    /*color: #fa1505;*/ /* TODO: remove */
    box-shadow: none;
    margin-bottom: 3px; /* TODO: fix distanza tra email e username */
}

.email-input{
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */
    /*color: #fa1505;*/ /* TODO: remove */
    box-shadow: none;
    margin-bottom: 3px; /* TODO: fix distanza tra email e username */
}

.password-input{
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */
    
    /*color: #fa1505;*/ /* TODO: remove */
}

.password-reinput{
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */
}

.password-strength-status{
    width: 100%;
    text-align: center;
    margin-top: 3px;
}

.username-input:focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

.email-input:focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

.password-input:focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

.password-reinput:focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

.btn-signup{
    background-color: #fa1505;
    color: white;
    height: 45px;
    width: 100%;
    font-size: 24px;
    box-shadow: none;
}

.btn-signup:hover{
    background: black; /* TODO: modify color */
    color: white;
}

.login-link{
    text-align: center; /* TODO: fix align */
    color: #359eca;
}

.login-link:hover{
    color: #fa1505;
}

.img-theme {
    background-color: rgb(53, 53, 53); /* TODO: mettere black */
    color: white;
    box-shadow: none;

    position: absolute;
    top: 10px;
    right: 10px;
    
    height: 42px;
    width: 42px;
}

.password-visibility {
    width: 24px;
    height: 24px;

    opacity: 0.7;

    float: right;

    position: relative; /* TODO: fix issue with positioning when typing password */
    bottom: 48px;
    right: 12px;

    overflow: auto;
    max-height: 100%;

}

.password-visibility-confirmation {
    width: 24px;
    height: 24px;

    opacity: 0.7;

    float: right;

    position: relative;
    top: 38px; 
    right: -12px;

    overflow: auto;
    max-height: 100%;

}

/*.password-visibility {
    width: 24px;
    height: 24px;

    opacity: 0.7;

    position: fixed;


}

.password-visibility-confirmation {
    width: 24px;
    height: 24px;

    opacity: 0.7;

    float: right;

    position: fixed;

}*/