.page-content{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(0, 0, 0), #172036);  /* #190d0a */
}

.signup{
    background-color: rgb(252, 252, 252, 0.09); /* TODO: modify color */
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.666);
    border-radius: 21px;
    padding: 9px 9%;
}

.logo-section{
    padding: 21px 33%; /* TODO: modify padding and margin */
    margin-top: 66px;
}

.logo{
    width: 100%;
    height: auto;
}

.signup-title{
    text-align: center;
    color: #f3360c;
}

.signup-type {
    text-align: center;
    color: #fa1505;
}

.hr-separator{
    width: 100%;
    color: white;
}

.email-username-input{
    background-color: rgb(0, 0, 0, 0.333);
    height: 45px;
    border: none;
    /*color: #fa1505;*/ /* TODO: remove */
    color: #f3360c;
    box-shadow: none;
}

.password-input{
    background-color: rgb(0, 0, 0, 0.333);
    height: 45px;
    border: none;
    /*color: #fa1505;*/ /* TODO: remove */
    color: #f3360c;
    box-shadow: none;
}

.strength-bar-level {
    width: 25%;
    display: inline-block;
    position: absolute; /* TODO: relative */
    height: 100%;
    bottom: 3px; /* TODO: 3px? */
}

.password-strength-bar {
    background-color: #dcdcdc;
    height: 3px; /* TODO: modify 3px*/
    position: relative;
    border-radius: 0 0 3px 3px; /* TODO: modify 3px 3px*/
}

.password-strength-status{
    width: 100%;
    text-align: center;
    margin-top: 3px;
    color: #fa1505;
}

.password-reinput{
    background-color: rgb(0, 0, 0, 0.333);
    height: 45px;
    border: none;
    color: #f3360c;
}

.email-username-input:focus {
    color: #fa1505;
    background: rgb(0, 0, 0, 0.444);
    border: 1px solid #f3360c; /* #f3360c  #eb5214 */
}

.password-input:focus {
    color: #fa1505;
    background: rgb(0, 0, 0, 0.444);
    border: 1px solid #f3360c;
}

.password-reinput:focus {
    color: #fa1505;
    background: rgb(0, 0, 0, 0.444);
    border: 1px solid #f3360c;
}

.btn-signup{
    background-color: #f3360c;
    height: 45px;
    width: 100%;
    font-size: 24px;
    box-shadow: none;
}

.btn-signup:hover{
    background: rgb(0, 0, 0, 0.333); /* TODO: modify color */
    color: #f3360c;
}

.login-link{
    text-align: center; /* TODO: fix align */
    color: #f3360c;
}

.login-link:hover{
    color: #be2e20; /* TODO: cambiare colore? */
}

.img-theme {
    background-color: white;
    color: black;
    box-shadow: none;

    position: absolute;
    top: 10px;
    right: 10px;

    height: 42px;
    width: 42px;
}