.page-content{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(234, 234, 234), white); /* TODO: modify color */
}

.signup{
    background-color: white; /* TODO: modify color */
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.333);
    border-radius: 21px;
    padding: 9px 9%;
}

.logo-section{
    padding: 21px 33%; /* TODO: modify padding and margin */
    margin-top: 66px;
}

.logo{
    width: 100%;
    height: auto;
}

.signup-title{
    text-align: center;
    color: red;
}

.signup-type {
    text-align: center;
}

.hr-separator{
    width: 100%;
    color: #212121;
}

.username-input{
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */
    /*color: #fa1505;*/ /* TODO: remove */
    box-shadow: none;
    margin-bottom: 3px; /* TODO: fix distanza tra email e username */

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

.username-input::-webkit-input-placeholder {
    position: relative;
    right: 85px;
}

.img-user {
    width: 24px;
    height: 24px;

    position: relative;
    bottom: 36px;
    left: 12px;
}

.email-input{
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */
    /*color: #fa1505;*/ /* TODO: remove */
    box-shadow: none;
    margin-bottom: 3px; /* TODO: fix distanza tra email e username */

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

.email-input::-webkit-input-placeholder {
    position: relative;
    right: 105px;
}

.img-email {
    width: 24px;
    height: 24px;

    position: relative;
    bottom: 36px;
    left: 12px;
}

.password-input{
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */
    
    /*color: #fa1505;*/ /* TODO: remove */

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

.password-input::-webkit-input-placeholder {
    position: relative;
    right: 89px;
}

.new-password-input {
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */
    
    /*color: #fa1505;*/ /* TODO: remove */

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

.new-password-input::-webkit-input-placeholder {
    position: relative;
    right: 75px;
}

.img-password {
    width: 24px;
    height: 24px;

    position: relative;
    bottom: 36px;
    left: 12px;
}

.password-reinput{
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

.password-reinput::-webkit-input-placeholder {
    position: relative;
    right: 59px;
}

.img-password-confirmation {
    width: 24px;
    height: 24px;

    position: relative;
    bottom: 36px;
    left: 12px;
}

.password-strength-status{
    width: 100%;
    text-align: center;
    margin-top: 3px;
}

.username-input:focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

.email-input:focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

.password-input:focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

.new-password-input:focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

.password-reinput:focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

.btn-signup{
    background-color: #fa1505;
    color: white;
    height: 45px;
    width: 100%;
    font-size: 24px;
    box-shadow: none;
}

.btn-signup:hover{
    background: black; /* TODO: modify color */
    color: white;
}

.login-link{
    text-align: center; /* TODO: fix align */
    color: #359eca;
}

.login-link:hover{
    color: #fa1505;
}

.img-theme {
    background-color: rgb(53, 53, 53); /* TODO: mettere black */
    color: white;
    box-shadow: none;

    position: absolute;
    top: 10px;
    right: 10px;
    
    height: 42px;
    width: 42px;
}

/* TODO: fix issue with positioning when typing password */
.password-visibility {
    width: 24px;
    height: 24px;

    opacity: 0.7;

    float: right;

    position: relative; 
    bottom: 76px;
    right: 12px;

    /*overflow: auto;
    max-height: 100%;*/

    cursor: pointer;

}

.password-visibility-confirmation {
    width: 24px;
    height: 24px;

    opacity: 0.7;

    float: right;

    position: relative;
    bottom: 33px; 
    right: 12px;

    /*overflow: auto;
    max-height: 100%;*/

    cursor: pointer;

}

.exclamation-icon {
    color: orange;

    position: relative;
    bottom: 33px;

    /*left: 310px; se lo volessi mettere sulla destra */
    right: 50px;
}

.exclamation-confirmation-icon {
    color: orange;

    position: relative;
    bottom: 33px;

    right: 50px;
}

/* TODO: remove */

/*.password-visibility {
    width: 24px;
    height: 24px;

    opacity: 0.7;

    position: fixed;


}

.password-visibility-confirmation {
    width: 24px;
    height: 24px;

    opacity: 0.7;

    float: right;

    position: fixed;

}*/