body > div:nth-of-type(1){
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(0, 0, 0), #172036);  /* #190d0a */
}

body > div > div > div > div{
    background-color: rgb(252, 252, 252, 0.09); /* TODO: modify color */
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.666);
    border-radius: 21px;
    padding: 9px 9%;
}

body > div > div > div > div > div{
    padding: 21px 33%; /* TODO: modify padding and margin */
    margin-top: 66px;
}

body > div > div > div > div > div > img{
    width: 100%;
    height: auto;
}

body h3{
    text-align: center;
    color: #f3360c;
}

body hr{
    width: 100%;
    color: white;
}

body form > div:nth-of-type(1) > input:nth-of-type(1){
    background-color: rgb(0, 0, 0, 0.333);
    height: 45px;
    border: none;
    /*color: #fa1505;*/ /* TODO: remove */
    color: #f3360c;
    box-shadow: none;
    margin-bottom: 3px; /* TODO: fix distanza tra email e username */

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

body form > div:nth-of-type(1) > input:nth-of-type(1)::-webkit-input-placeholder {
    position: relative;
    right: 89px;
}

body form > div:nth-of-type(1) > input:nth-of-type(1):focus {
    color: #fa1505;
    background: rgb(0, 0, 0, 0.444);
    border: 1px solid #f3360c; /* #f3360c  #eb5214 */
}

body form > div:nth-of-type(1) > img:nth-of-type(1) {
    width: 24px;
    height: 24px;

    filter: invert();

    position: relative;
    bottom: 36px;
    left: 12px;
}

body form > div:nth-of-type(1) > input:nth-of-type(2){
    background-color: rgb(0, 0, 0, 0.333);
    height: 45px;
    border: none;
    /*color: #fa1505;*/ /* TODO: remove */
    color: #f3360c;
    box-shadow: none;
    margin-bottom: 3px; /* TODO: fix distanza tra email e username */

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

body form > div:nth-of-type(1) > input:nth-of-type(2)::-webkit-input-placeholder {
    position: relative;
    right: 105px;
}

body form > div:nth-of-type(1) > input:nth-of-type(2):focus {
    color: #fa1505;
    background: rgb(0, 0, 0, 0.444);
    border: 1px solid #f3360c; /* #f3360c  #eb5214 */
}

body form > div:nth-of-type(1) > img:nth-of-type(2) {
    width: 24px;
    height: 24px;

    filter: invert();

    position: relative;
    bottom: 36px;
    left: 12px;
}

body form > div:nth-of-type(2) > input:nth-of-type(1) {
    background-color: rgb(0, 0, 0, 0.333);
    height: 45px;
    border: none;
    /*color: #fa1505;*/ /* TODO: remove */
    color: #f3360c;
    box-shadow: none;

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

body form > div:nth-of-type(2) > input:nth-of-type(1)::-webkit-input-placeholder {
    position: relative;
    right: 89px;
}

body form > div:nth-of-type(2) > input:nth-of-type(1):focus {
    color: #fa1505;
    background: rgb(0, 0, 0, 0.444);
    border: 1px solid #f3360c;
}

.new-password-input {
    background-color: rgb(0, 0, 0, 0.333);
    height: 45px;
    border: none;
    color: #f3360c;
    box-shadow: none;

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

.new-password-input::-webkit-input-placeholder {
    position: relative;
    right: 75px;
}

body form > div:nth-of-type(2) > img:nth-of-type(1) {
    width: 24px;
    height: 24px;

    filter: invert();

    position: relative;
    bottom: 36px;
    left: 12px;
}

body form > div:nth-of-type(3) > input:nth-of-type(1){
    background-color: rgb(0, 0, 0, 0.333);
    height: 45px;
    border: none;
    color: #f3360c;

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

body form > div:nth-of-type(3) > input:nth-of-type(1)::-webkit-input-placeholder {
    position: relative;
    right: 59px;
}

body form > div:nth-of-type(3) > input:nth-of-type(1):focus {
    color: #fa1505;
    background: rgb(0, 0, 0, 0.444);
    border: 1px solid #f3360c;
}

body form > div:nth-of-type(3) > img:nth-of-type(1) {
    width: 24px;
    height: 24px;

    filter: invert();

    position: relative;
    bottom: 36px;
    left: 12px;
}

body form > div:nth-of-type(2) > p:nth-of-type(1){
    width: 100%;
    text-align: center;
    margin-top: 3px;
    color: #fa1505;
}

.new-password-input:focus {
    color: #fa1505;
    background: rgb(0, 0, 0, 0.444);
    border: 1px solid #f3360c;
}

body form > input:nth-of-type(1){
    background-color: #f3360c;
    height: 45px;
    width: 100%;
    font-size: 24px;
    box-shadow: none;
}

body form > input:nth-of-type(1):hover{
    background: rgb(0, 0, 0, 0.333); /* TODO: modify color */
    color: #f3360c;
}

body a:nth-of-type(1){
    text-align: center; /* TODO: fix align */
    color: #f3360c;
}

body a:nth-of-type(1):hover{
    color: #be2e20; /* TODO: cambiare colore? */
}

body > input:nth-of-type(1) {
    background-color: white;
    color: black;
    box-shadow: none;

    position: absolute;
    top: 10px;
    right: 10px;

    height: 42px;
    width: 42px;
}

body form > div:nth-of-type(2) > i:nth-of-type(2) {
    width: 24px;
    height: 24px;

    opacity: 0.7;
    /*filter: invert(); TODO: remove*/
    filter: opacity(0.5);

    color: #f3360c;

    float: right;

    position: relative;
    bottom: 72px;
    right: 12px;

    cursor: pointer;

}

/* TODO: controllare se è alla stessa altezza dell'altro */
body form > div:nth-of-type(3) > i:nth-of-type(1) {
    width: 24px;
    height: 24px;

    opacity: 0.7;
    /*filter: invert(); TODO: remove*/
    filter: opacity(0.5);

    color: #f3360c;

    float: right;

    position: relative;
    bottom: 29px; 
    right: 12px;

    cursor: pointer;

}

body form > div:nth-of-type(2) > i:nth-of-type(1) {
    color: orange;

    position: relative;
    bottom: 33px;

    /*left: 310px; se lo volessi mettere sulla destra */
    right: 50px;
}

body form > div:nth-of-type(3) > i:nth-of-type(2) {
    color: orange;

    position: relative;
    bottom: 33px;

    right: 50px;
}