body > div:nth-of-type(1){
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(234, 234, 234), white); /* TODO: modify color */
}

body > div > div > div > div{ /* .signup, qui non mi va nth-of-type(4) sul div */
    background-color: white; /* TODO: modify color */
    box-shadow: 0 3px 12px rgb(0 0 0 / 0.333);
    border-radius: 21px;
    padding: 9px 9%;
}

body > div > div > div > div > div{ /* .logo-section */
    padding: 21px 33%; 
    margin-top: 66px;
}

body > div > div > div > div > div > img{ /* .logo */
    width: 100%;
    height: auto;
}

body h3{ /* .signup-title */
    text-align: center;
    color: red;
}

body hr{
    width: 100%;
    color: #212121;
}

body form > div:nth-of-type(1) > input:nth-of-type(1){ /* .username-input */
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */
    /*color: #fa1505;*/ /* TODO: remove */
    box-shadow: none;
    margin-bottom: 3px; /* TODO: fix distanza tra email e username */

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

body form > div:nth-of-type(1) > input:nth-of-type(1)::-webkit-input-placeholder {
    position: relative;
    right: 85px;
}

body form > div:nth-of-type(1) > input:nth-of-type(1):focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

body form > div:nth-of-type(1) > img:nth-of-type(1){ /* .img-user */
    width: 24px;
    height: 24px;

    position: relative;
    bottom: 36px;
    left: 12px;
}

body form > div:nth-of-type(1) > input:nth-of-type(2){ /* era .email-input */
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */
    /*color: #fa1505;*/ /* TODO: remove */
    box-shadow: none;
    margin-bottom: 3px; /* TODO: fix distanza tra email e username */

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

body form > div:nth-of-type(1) > input:nth-of-type(2)::-webkit-input-placeholder {
    position: relative;
    right: 105px;
}

body form > div:nth-of-type(1) > input:nth-of-type(2):focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

body form > div:nth-of-type(1) > img:nth-of-type(2) { /* .img-email */
    width: 24px;
    height: 24px;

    position: relative;
    bottom: 36px;
    left: 12px;
}

body form > div:nth-of-type(2) > input:nth-of-type(1){ /* .password-input */
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */
    
    /*color: #fa1505;*/ /* TODO: remove */

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

body form > div:nth-of-type(2) > input:nth-of-type(1)::-webkit-input-placeholder {
    position: relative;
    right: 89px;
}

body form > div:nth-of-type(2) > input:nth-of-type(1):focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

/* .new-password-input */ /* TODO: remove */
/*body form > div:nth-of-type(2) > input:nth-of-type(1){ 
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); 
    
    color: #fa1505;

    text-align: center; 
}

.new-password-input::-webkit-input-placeholder {
    position: relative;
    right: 75px;
}*/

/*.new-password-input:focus {
    color: #fa1505; 
    border: 1px solid #fa1505;
}*/

body form > div:nth-of-type(2) > img:nth-of-type(1) { /* .img-password */
    width: 24px;
    height: 24px;

    position: relative;
    bottom: 36px;
    left: 12px;
}

body form > div:nth-of-type(3) > input:nth-of-type(1){ /* .password-reinput */
    background-color: white;
    height: 45px;
    border: 3px solid rgb(222, 222, 222); /* TODO: 1px? */

    text-align: center; /* TODO: mostrarlo più a sinistra che al centro. */
}

body form > div:nth-of-type(3) > input:nth-of-type(1)::-webkit-input-placeholder {
    position: relative;
    right: 59px;
}

body form > div:nth-of-type(3) > input:nth-of-type(1):focus {
    color: #fa1505; /* TODO: remove? */
    border: 1px solid #fa1505;
}

body form > div:nth-of-type(3) > img:nth-of-type(1){ /* .img-password-confirmation */
    width: 24px;
    height: 24px;

    position: relative;
    bottom: 36px;
    left: 12px;
}

body form > div:nth-of-type(2) > p:nth-of-type(1){ /* .password-strength-status */
    width: 100%;
    text-align: center;
    margin-bottom: -6px;
}

body form > input:nth-of-type(1){ /* .btn-signup */
    background-color: #fa1505;
    color: white;
    height: 45px;
    width: 100%;
    font-size: 24px;
    box-shadow: none;
}

body form > input:nth-of-type(1):hover{
    background: black; /* TODO: modify color */
    color: white;
}

body a:nth-of-type(1){ /* .login-link */
    text-align: center; /* TODO: fix align */
    color: #359eca;
}

body a:nth-of-type(1):hover{
    color: #fa1505;
}

body > input:nth-of-type(1){ /* .img-theme */
    background-color: rgb(53, 53, 53); /* TODO: mettere black */
    color: white;
    box-shadow: none;

    position: absolute;
    top: 10px;
    right: 10px;
    
    height: 42px;
    width: 42px;
}

/* TODO: fix issue with positioning when typing password */
body form > div:nth-of-type(2) > i:nth-of-type(2){ /* .password-visibility */
    width: 24px;
    height: 24px;

    opacity: 0.7;

    float: right;

    position: relative; 
    bottom: 72px;
    right: 12px;

    color: #fa1505;

    filter: opacity(0.5); /* TODO: di default a 0.5 per significare che la password non è visibile */

    /*overflow: auto;
    max-height: 100%;*/

    cursor: pointer;

}

body form > div:nth-of-type(3) > i:nth-of-type(1){ /* .password-visibility-confirmation */
    width: 24px;
    height: 24px;

    opacity: 0.7;

    float: right;

    position: relative;
    bottom: 29px; 
    right: 12px;

    color: #fa1505;

    filter: opacity(0.5); 

    /*overflow: auto;
    max-height: 100%;*/

    cursor: pointer;

}

body form > div:nth-of-type(2) > i:nth-of-type(1) { /* exclamation-icon */
    color: orange;

    position: relative;
    bottom: 33px;

    /*left: 310px; se lo volessi mettere sulla destra */
    right: 50px;
}

body form > div:nth-of-type(3) > i:nth-of-type(2){ /* .exclamation-confirmation-icon */
    color: orange;

    position: relative;
    bottom: 33px;

    right: 50px;
}

/* TODO: remove */

/*.password-visibility {
    width: 24px;
    height: 24px;

    opacity: 0.7;

    position: fixed;


}

.password-visibility-confirmation {
    width: 24px;
    height: 24px;

    opacity: 0.7;

    float: right;

    position: fixed;

}*/